- if ticket.waiting?
  = link_to ticket_path(ticket, ticket: { starred: ticket.starred.! }), method: :patch do
    - if ticket.starred?
      %i.fa.fa-star.priority-star
    - else
      %i.fa.fa-star-o.priority-star
- elsif ticket.being_served?
  .text-center
    %i.fa.fa-refresh{style: "color: green"}
- elsif ticket.served?
  .text-center
    %i.fa.fa-check{style: "color: #666"}
