body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

a, a:hover { text-decoration: none !important; }

.logo {
  font-family: "Arial";
  font-style: italic;
  font-size: 24px;
  letter-spacing: -0.05em;
  color: #FFFFFF !important;
}

.navbar-default {
  background-color: #00334c;
  border-radius: 0px;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  opacity: 0.3;
}

.modal .modal-dialog { padding-top: 5% }

.modal .modal-body { padding-top: 0px; padding-bottom: 10px; }

.priority-star.fa-star-o:hover, .priority-star.fa-star:hover {
  -webkit-transform:scale(1.4, 1.4);
  -moz-transform:scale(1.4, 1.4);
  -o-transform:scale(1.4, 1.4);
  transform:scale(1.4, 1.4);
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}


.priority-star.fa-star-o:hover {
  color: #FFD76E;
}


.priority-star.fa-star:hover {
  color: #DDDDDD;
}

.priority-star.fa-star {
  color: #FFD76E;
  margin-right: 5px;
}

.priority-star.fa-star-o {
  color: #CCCCCC;
  margin-right: 5px;
}

table > thead > tr > th {
  background-color: #00334c;
  border: 1px solid #004060 !important;
  color: white;
  font-weight: 300;
  vertical-align: middle !important;
}

table > tbody > tr > td {
  vertical-align: middle !important;
}

table {
  font-size: 12px;
}

.btn-xs { margin-left: 3px; margin-right: 3px; }

.form-control { margin-bottom: 10px; }

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

hr {
  opacity: 0.5;
  border: 0;
  height: 1px;
  position: relative;
  margin: 2em 0;
  clear: both;
  
  -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);        /* FF */
  -o-transform: rotate(180deg);          /* Opera */
  -ms-transform: rotate(180deg);         /* IE9 */
  transform: rotate(180deg);             /* W3C complaint browsers */

  /* IE8 and below */
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
}

hr:before {
  top: -0.5em;
  height: 1em;
}

hr:after {
  content:'';
  height: 0.5em;
  top: 1px;
}

hr:before, hr:after {
  content: '';
  position: absolute;
  width: 100%;
}

hr, hr:before {
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
  background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}

hr:after {
  background: #fff;
}

h4 .fa {
  color: #666;
  margin-right: 5px;
}

h4 { margin-bottom: 15px; }

h6 { font-weight: 600; margin-top: 15px; }

