body {
  margin: 0px;
  font-family: "Open Sans";
}

.logo {
  font-family: "Arial";
  font-style: italic;
  font-size: 24px;
  letter-spacing: -0.05em;
  color: #FFFFFF !important;
}

.navbar-default {
  background-color: #00334c;
  border-radius: 0px;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  opacity: 0.3;
}

.modal .modal-dialog { padding-top: 5% }

.priority-star.fa-star-o:hover {
  color: #FFD76E;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;

}

.priority-star.fa-star {
  color: #FFD76E;
}

.priority-star.fa-star-o {
  color: #CCCCCC;
}

table > thead > tr > th {
  background-color: #00334c;
  border: 1px solid #004060 !important;
  color: white;
  font-weight: 300;
}

table {
  font-size: 12px;
}

.btn-xs { margin-left: 3px; margin-right: 3px; }

.form-control { margin-bottom: 10px; }

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
